body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: darkgreen;
}

header {
  font-size: x-large;
  background: green;
  color: white;
}

h1 {
  max-width: 1024px;
  padding: 32px 64px;
  margin: auto;
  box-sizing: border-box;
}

.loading {
  cursor: wait;
}

.loading * {
  pointer-events: none;
}

main {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 64px;
  margin: auto;
  max-width: 1024px;
  box-sizing: border-box;
}

input[type=submit] {
  width: auto;
  color: white;
  background: green;
  border: 0;
  padding: 16px;
  margin: 16px 0 0 0;
}

input[type=submit]:disabled {
  color: black;
  background: #d7ffd7;
  padding: 16px;
  margin: 16px 0 0 0;
}

#recent-scores-header-section {
  display: flex;
  gap: 16px;
  align-items: center;
}

#score-list {
  list-style-type: none;
  padding: 0;
  margin: 16px 0 0 0;
}

#score-list > li {
  padding: 16px;
}

#score-list > li:nth-child(odd) {
  background-color: #d7ffd7;
}

#score-form > input[type=submit] {
  display: flex;
  margin-left: auto;
}

h2 {
  margin: 0;
}

#recent-scores-section {
  background-color: white;
  padding: 16px;
  min-height: 94px;
}

#add-score-section {
  background: white;
  padding: 16px;
}

input {
  width: 100%;
  box-sizing: border-box;
  background: #d7ffd7;
  border: 0;
  padding: 16px;
  margin: 16px 0 0 0;
}

section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: min-content;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#refresh-button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(./images/refresh_icon.svg);
}

#refresh-button:disabled {
  animation-name: spin;
  animation-duration: 2s;
  cursor: initial;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 32px;
    padding: 32px;
  }

  section {
    box-sizing: border-box;
  }

  header {
    font-size: large;
    text-align: center;
  }

  input[type=submit] {
    width: 100%;
    justify-content: center;
  }
}
