body {
  background-color: bisque;
}

main {
  display: flex;
  gap: 32px;
}

#recent-scores-header-section {
  display: flex;
  gap: 16px;
  align-items: center;
}

#refresh-button {
  height: min-content;
}
